.show
{
    display:block;
}
.hidden
{
    display:none;
}

.cocktail
{
    width:100px;
    cursor:pointer;
}

.img
{
    width: 100px;
}

.fav{background-color:red;}

.list
{
    display: inline-block;
    width: 40%;
}
.section
{
    display:grid;
    grid-template-columns: 50% 50%;
}